
._XYGridShell.lcb
._support
._Preview.png
*.DS_Store
support/._defaultscript.livecodescript
._api.lcdoc
*.lcm
manifest.xml
._XYGridShell.lcb~
._XYGridShell_revY.lcb
._Example LC Graph.livecode
._XYGridShell_revY2~.lcb
._Untitled 2.livecode
._XYGridShell_revY3.lcb
OLD/._XYGridShell_revY~.lcb
OLD/._XYGridShell_revY2~GOODY.lcb
._XYGridShell_revY4.lcb
._XYGridShell_revY5.lcb
._Demo.livecode
._XYEditGrid Demo.livecode
._XYEditGrid Demo.livecode
._XYEditGrid Demo.livecode
._XYEditGrid Demo2.livecode
._XYGridShell_0.05.lcb
._XYEditGrid Demo.livecode
._XYEditGrid Demo.livecode
._XYEditGrid Demo broken.livecode
OLD/._XYGridShell_0.05old.lcb
community.livecode.paulmcclernan.xygrid.0.1.lce
community.livecode.paulmcclernan.xygrid.lci
._MIDIGridCarasuel copy.livecode
