
._XYGridShell.lcb
._support
._Preview.png
*.DS_Store
support/._defaultscript.livecodescript
._api.lcdoc
*.lcm
manifest.xml
._XYGridShell.lcb~
._XYGridShell_revY.lcb
._Example LC Graph.livecode
._XYGridShell_revY2~.lcb
